/* Import font */
@font-face {
    font-family: Tahoma;
    src: url(../../static/fonts/103-Tahoma.ttf);
}

@font-face {
    font-family: "Trebuchet MS";
    src: url(../../static/fonts/trebuc.woff);
}

.experience-container {
    font-family: Tahoma, Geneva, sans-serif;
}
.experience-container {
    width: 90%;
    margin: 0 auto;
}

.experience-title {
    margin-top: 0.4em;
    margin-bottom: 1em !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.experience-info-container {
    margin-top: 3em;
}

.job_title {
    font-size: 1.7em;
    font-weight: bold;
    padding-right: 10px;
}
.place_of_training {
    font-weight: bold;
}
.experience_category {
    font-weight: bold;
}
.date {
    margin-top: 2em;
    display: block;
    font-weight: bold;
}

.description {
    margin-top: 2em;
}