

.nav-item {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
    color: black;
}

.navbar {
    background-color: #00BAFF;
}

.color-white {
    color: white !important;
}

.nav-link {
    padding-left: 3em !important;
    font-size: 1.1em !important;
    font-weight: bold !important;
}